nav{
//   background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a{
    text-decoration: none;
    color: blue;
}
.leftpart{
  display: flex;

  gap: 50px;
}
body{ 
   background-image:url("../../../public/photoss/OIP.webp") ;

 background-size: cover;
}