.section1{
    padding-top: 20px;
    padding-left:550px;
    padding-right:150px;
   
}
h1 , h4{
    color: $myColor;
 padding-left: 250px;
 font-weight: 900;
}

.chang{
    background-color: aqua;
}

